/.idea/
Pulpit.iml
/out/production/Pulpit/CustomScanner.class
/out/production/Pulpit/HelloWorld.class
/out/production/Pulpit/inkrementacjaDekrementacja.class
/out/production/Pulpit/operatoryMatematyczne.class
/out/production/Pulpit/TypyObiektowe.class
/out/production/Pulpit/TypyProste.class
/out/production/Pulpit/Zmienne.class
